@page
@model IndexModel
@{
    ViewData["Title"] = "Shopping page";
}

<div class="text-center">
    <h1 class="display-4">List Of Products</h1>
    <ul id="products-list">
    </ul>
</div>

@section scripts{ 
    <script src="~/js/Products.js"></script>
}